/*  ============================================================
	RESET
    ============================================================  */

    * {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }

/*  ============================================================
	GLOBAL
    ============================================================  */

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .container:before,
    .container:after,
    .row:before,
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/*  ============================================================
	GRID SYSTEM
    ============================================================  */

    [class*='b0c'],
    [class*='b1c'],
    [class*='b2c'],
    [class*='b3c'],
    [class*='b4c'] {
        padding: 0 8px;
        min-height: 1px;
        background: rgba(255,0,0,0.2);
    }

    .b0c12,
    .b0c11,
    .b0c10,
    .b0c9,
    .b0c8,
    .b0c7,
    .b0c6,
    .b0c5,
    .b0c4,
    .b0c3,
    .b0c2,
    .b0c1			{ float: left; }
    .b0c12			{ width: 100%; }
    .b0c11			{ width: 91.66666667%; }
    .b0c10			{ width: 83.33333333%; }
    .b0c9			{ width: 75%; }
    .b0c8			{ width: 66.66666667%; }
    .b0c7			{ width: 58.33333333%; }
    .b0c6			{ width: 50%; }
    .b0c5			{ width: 41.66666667%; }
    .b0c4			{ width: 33.33333333%; }
    .b0c3			{ width: 25%; }
    .b0c2			{ width: 16.66666667%; }
    .b0c1			{ width: 8.33333333%; }


@media (min-width: 34rem) {

    .b1c12,
    .b1c11,
    .b1c10,
    .b1c9,
    .b1c8,
    .b1c7,
    .b1c6,
    .b1c5,
    .b1c4,
    .b1c3,
    .b1c2,
    .b1c1			{ float: left; }
    .b1c12			{ width: 100%; }
    .b1c11			{ width: 91.66666667%; }
    .b1c10			{ width: 83.33333333%; }
    .b1c9			{ width: 75%; }
    .b1c8			{ width: 66.66666667%; }
    .b1c7			{ width: 58.33333333%; }
    .b1c6			{ width: 50%; }
    .b1c5			{ width: 41.66666667%; }
    .b1c4			{ width: 33.33333333%; }
    .b1c3			{ width: 25%; }
    .b1c2			{ width: 16.66666667%; }
    .b1c1			{ width: 8.33333333%; }

}
@media (min-width: 48rem) {

    .b2c12,
    .b2c11,
    .b2c10,
    .b2c9,
    .b2c8,
    .b2c7,
    .b2c6,
    .b2c5,
    .b2c4,
    .b2c3,
    .b2c2,
    .b2c1			{ float: left; }
    .b2c12			{ width: 100%; }
    .b2c11			{ width: 91.66666667%; }
    .b2c10			{ width: 83.33333333%; }
    .b2c9			{ width: 75%; }
    .b2c8			{ width: 66.66666667%; }
    .b2c7			{ width: 58.33333333%; }
    .b2c6			{ width: 50%; }
    .b2c5			{ width: 41.66666667%; }
    .b2c4			{ width: 33.33333333%; }
    .b2c3			{ width: 25%; }
    .b2c2			{ width: 16.66666667%; }
    .b2c1			{ width: 8.33333333%; }

}
@media (min-width: 62rem) {

    .b3c12,
    .b3c11,
    .b3c10,
    .b3c9,
    .b3c8,
    .b3c7,
    .b3c6,
    .b3c5,
    .b3c4,
    .b3c3,
    .b3c2,
    .b3c1			{ float: left; }
    .b3c12			{ width: 100%; }
    .b3c11			{ width: 91.66666667%; }
    .b3c10			{ width: 83.33333333%; }
    .b3c9			{ width: 75%; }
    .b3c8			{ width: 66.66666667%; }
    .b3c7			{ width: 58.33333333%; }
    .b3c6			{ width: 50%; }
    .b3c5			{ width: 41.66666667%; }
    .b3c4			{ width: 33.33333333%; }
    .b3c3			{ width: 25%; }
    .b3c2			{ width: 16.66666667%; }
    .b3c1			{ width: 8.33333333%; }

}
@media (min-width: 75rem) {

    .b4c12,
    .b4c11,
    .b4c10,
    .b4c9,
    .b4c8,
    .b4c7,
    .b4c6,
    .b4c5,
    .b4c4,
    .b4c3,
    .b4c2,
    .b4c1			{ float: left; }
    .b4c12			{ width: 100%; }
    .b4c11			{ width: 91.66666667%; }
    .b4c10			{ width: 83.33333333%; }
    .b4c9			{ width: 75%; }
    .b4c8			{ width: 66.66666667%; }
    .b4c7			{ width: 58.33333333%; }
    .b4c6			{ width: 50%; }
    .b4c5			{ width: 41.66666667%; }
    .b4c4			{ width: 33.33333333%; }
    .b4c3			{ width: 25%; }
    .b4c2			{ width: 16.66666667%; }
    .b4c1			{ width: 8.33333333%; }

}
